<div *ngIf="opened" class="overlay"></div>

<div>
    <button type='button' class='k-button' (click)="open()">Add</button>
</div>

<div class='mappingWindow'>
    <kendo-window title="Mapping" *ngIf="opened" (close)="close()" [draggable]="isDraggable" [resizable]="isResizable" [width]="500" [minWidth]="250">
    <form #form="ngForm" class="k-form" (ngSubmit)="onSubmit(form)" novalidate>
      <fieldset>
        <legend>Crawled properties to map</legend>
        <div class="k-form-field">
          <span>Action</span>
          <input type="radio" name="action" id="create" class="k-radio" [(ngModel)]="mapping.Action" value="Create" required/>
          <label class="k-radio-label" for="create">Create</label>
          <input type="radio" name="action" id="remove" class="k-radio" [(ngModel)]="mapping.Action" value="Remove" required/>
          <label class="k-radio-label" for="remove">Remove</label>
        </div>
        <label class="k-form-field">
          <span>Category</span>
          <kendo-dropdownlist name="category" [data]="categories" [(ngModel)]="mapping.Category" required></kendo-dropdownlist>
        </label>
        <label class="k-form-field">
          <span>Crawled properties</span>
          <textarea class="k-textarea" style="width:30em" [(ngModel)]="crawledProperties" name="crawledProperties" placeholder="Enter Crawled Properties separated by comma ','" required></textarea>
        </label>
      </fieldset>
      <div class="errorPlaceholder">
          {{validationMessage}}
      </div>
      <div class="text-right">
        <button type="submit" class="k-button k-primary">Submit</button>
        <button type="button" class="k-button" (click)="clear()">Clear</button>
        <button type="button" class="k-button" (click)="close()">Cancel</button>
      </div>
    </form>
    </kendo-window>
</div>