<div *ngIf="opened" class="overlay"></div>

<div>
    <button class='k-button' (click)="open()">Add item</button>
</div>

<div class='window'>
    <kendo-window title="Add item" *ngIf="opened" (close)="close()" [draggable]="isDraggable" [resizable]="isResizable" [width]="550" [minWidth]="250">
        <app-content-source-form *ngIf="itemType == 0" (windowState)="windowState($event)"></app-content-source-form>
        <app-crawl-rule-form *ngIf="itemType == 1" (windowState)="windowState($event)"></app-crawl-rule-form>
        <app-search-schema-form *ngIf="itemType == 2" (windowState)="windowState($event)"></app-search-schema-form>
    </kendo-window>
</div>