<div>
  <form #form="ngForm" class="k-form" (ngSubmit)="onSubmit(form)" novalidate>
      <fieldset>
          <legend>Content Source</legend>
          <label class="k-form-field">
              <span>
                  Name
              </span>
              <input type="text" class="k-textbox" placeholder="Name of the item" [(ngModel)]="item.Name" name="name" required>
          </label>
          <label class="k-form-field">
              <span>
                  Search Service Application
              </span>
              <input type="text" class="k-textbox" placeholder="Name of the Search Service Application" [(ngModel)]="item.Ssa" name="ssa" required>
          </label>
          <label class="k-form-field">
              <span>
                  Type
              </span>
              <kendo-dropdownlist name="type" [data]="types" [(ngModel)]="item.Type" required></kendo-dropdownlist>
          </label>
          <label class="k-form-field">
              <span>
                  Start addresses
              </span>
              <input class="k-textbox" placeholder='Start addresses separated by comma ","' [(ngModel)]="item.Address" name="address" required>
          </label>
      </fieldset>
      <div class="errorPlaceholder">
          {{validationMessage}}
      </div>
      <div class="text-right">
          <button type="submit" class="k-button k-primary">Submit</button>
          <button type="button" class="k-button" (click)="cancel()">Cancel</button>
          <button type="button" class="k-button" (click)="clear()">Clear</button>
      </div>
  </form>
</div>