
.k-button {
    width: 100%;
}

.jumbotron {
    padding: 1.5em 1em 1em 1em;
    height: 6em;
    box-shadow: 0 0 10px gray;
    background-color: steelblue;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
}

.jumbotron h2 {
    color: white;
    font-weight: 100;
}