/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-default/scss/all";

.k-button.k-primary, .k-button.k-primary:hover {
    background-color: steelblue;
    border-color: steelblue;
}

.k-dialog-titlebar {
    background: steelblue;
}