<div class='list'>
  <form novalidate #myForm="ngForm">
    <kendo-grid [data]="items" (dataStateChange)="onStateChange($event)" (save)="saveHandler($event)" (cancel)="cancelHandler($event)" (remove)="removeItem($event)" (edit)="editHandler($event)">
      <ng-template kendoGridToolbarTemplate>
          <app-add-item [itemType]="itemType"></app-add-item>
      </ng-template>
      <kendo-grid-command-column title="" width="100">
        <ng-template kendoGridCellTemplate>
        <button kendoGridEditCommand [icon]="'edit'"></button>
          <button kendoGridRemoveCommand [icon]="'delete'"></button>
          <button kendoGridCancelCommand [icon]="'cancel'"></button>
          <button kendoGridSaveCommand [icon]="'save'" [disabled]="myForm.invalid"></button>
        </ng-template>
      </kendo-grid-command-column>
      <kendo-grid-column field="Name"  title="Name" width="200">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <input [(ngModel)]="dataItem.Name" editor="" name="Name" class="k-textbox" required/>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Ssa" title="Search Service Application" width="200">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <input [(ngModel)]="dataItem.Ssa" name="Ssa" class="k-textbox" required/>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Type" title="Type" width="100">
        <ng-template kendoGridEditTemplate let-dataItem="dataItem">
          <input [(ngModel)]="dataItem.Type" name="Type" class="k-textbox" required readonly/>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Address" title="Start address" width="200">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
              <input [(ngModel)]="dataItem.Address" name="Address" class="k-textbox" required/>
            </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Continuous" title="Continuous Crawl" width="150">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
              <input [(ngModel)]="dataItem.Continuous" name="Continuous" type="checkbox"/>
            </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Priority" title="Crawl priority" width="150">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
              <input [(ngModel)]="dataItem.Priority" name="Priority" class="k-textbox" required readonly/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Behavior" title="Crawl behavior" width="150">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
              <input [(ngModel)]="dataItem.Behavior" name="Behavior" [disabled]="disableSharepoint" class="k-textbox" readonly/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="SiteEnumeration" title="Max site enumeration depth" width="200">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
              <input [(ngModel)]="dataItem.SiteEnumeration" name="SiteEnumeration" [disabled]="disableWeb" class="k-textbox" type="number"/>
            </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="PageEnumeration" title="Max page enumeration depth" width="210">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
              <input [(ngModel)]="dataItem.PageEnumeration" name="PageEnumeration" [disabled]="disableWeb" class="k-textbox" type="number"/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Proxy" title="Proxy group" width="120">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
              <input [(ngModel)]="dataItem.Proxy" name="Proxy" class="k-textbox" [disabled]="disableBusiness" type="text" required/>
          </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="LOBSystem" title="LOB System Set" width="150">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
              <input [(ngModel)]="dataItem.LOBSystem" name="LOBSystem" [disabled]="disableBusiness" class="k-textbox"/>
          </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </form>
</div>
